/* Folhas de estilo do tema / template do site. */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');



* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*esttilizar o cabeçalho*/
header div {

    display: flex;
    align-items: center;



}

header h1 {
    margin: 0;
    font-size: 1.5rem;

}

header img {
    height: 4rem;
    /* 4 *16 = 64 pixels*/
    margin-right: 10px;
    width: auto;
}

header form {
    background: rgb(204, 238, 252);
    padding: 1rem;
    display: flex;
}

header form input {
    flex-grow: 1;
    border: none;
    border-radius: .3rem 0 0 .3rem;
}

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    padding: .35rem .5rem;


}

body {
    background-image: url(/img/anonimous\ azul\ e\ branco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(rgb(248, 244, 244), rgb(6, 164, 255));*/
}

/* Menu principal */

nav {
    background-color: rgb(22, 211, 218);
    display: flex;
}

nav img {
    height: 2rem;
    width: 2rem;
}

nav i {
    font-size: 2rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: black;
}

nav span {
    margin-top: .5rem;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: white;
}

button {
    display: flex;
    border-bottom: auto;


}

#interacaoUsuario img {
    max-width: 80%;
    /* Ajuste o tamanho conforme necessário */

    height: auto;
    /* Mantém a proporção da imagem */
    color: #faf9f9;

}
article {
color: #faf9f9;

}

#wrap {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}